/* 公共样式 */
.container {
    width: 1200px;
    margin: 0 auto;
}
a.link {
    color: #4d555d;
}
a.link:hover {
    color: #f01414 !important;
}


/* 下拉菜单样式dropdown 分离共性 */
.dropdown {
    position: relative;
}

.dropdown-toggle {
    display: block;
    /* 添加  position: relative;解决 那条横线显示问题，z-index要和position一起使用才起效果*/
    position: relative; 
    z-index: 2;
}

.dropdown-arrow {
    display: inline-block;
    /* background-repeat: no-repeat; */
    line-height: 1;
    vertical-align: middle;
}

.dropdown-layer {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-left {
    left: 0;
    right: auto;
}

.dropdown-right {
    right: 0;
    left: auto;
}

/* 动图 */
.dropdown-gif {
    display: block;
    height: 32px;
    width: 32px;
    background: url(../image/loading.gif) no-repeat;
    margin: 20px;
}

/* 图标字体下拉箭头 */
@font-face {
    font-family: "iconfont";
    src: url('../test003/font/iconfont.eot?t=1477124206');
    /* IE9*/
    src: url('../test003/font/iconfont.eot?t=1477124206#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../test003/font/iconfont.woff?t=1477124206') format('woff'),
        /* chrome, firefox */
        url('../test003/font/iconfont.ttf?t=1477124206') format('truetype'),
        /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
        url('../test003/font/iconfont.svg?t=1477124206#iconfont') format('svg');
    /* iOS 4.1- */
}

.icon {
    font-family: "iconfont" !important;
    font-size: 14px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

/* 多菜单旋转 使用 [class*= '-active'] 选择所有包含 -active 的类 */
[class*='-active'] .dropdown-arrow {
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* transition all 0.5s 过度效果  */
.transition-xiala {
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

/* 需要添加showhide 模块使用的css样式 fade slide等 */
.transition {
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

/* 淡入淡出  */
.fade-danrudanchu {
    opacity: 0 !important;
    visibility: hidden !important;
}

/* 上下隐藏 通过添加这个类实现 */
.slide_shangxia {
    height: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

/* 左右滚动  */
.slide_zuoyou {
    width: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* menu dropdown 分离特性 */
.menu .dropdown-toggle {
    display: block;
    height: 100%;
    /* padding: 0 16px 0 12px; */
    padding: 0 13px 0 12px;
    border-left: 1px solid #f3f5f7;
    border-right: 1px solid #f3f5f7;
}

.menu .dropdown-arrow {
    /* width: 8px;
    height: 6px;
    background-image: url(../image/dropdown-arrow.png); */
    /* margin-left: 8px; */
    margin-left: 5px;
}

.menu .dropdown-layer {
    /* top: 100%; */
    top: 43px;
    background-color: #fff;
    border: 1px solid #cdd0d4;
    /* 上下卷动效果需要加  overflow: hidden; */
    /* overflow: hidden; */
}

/* 这部分的menu 可以拿走 */
.menu-item {
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    color: #4d555d;
    white-space: nowrap;
    /* 没有换行 */
}

.menu-item:hover {
    background-color: #f3f5f7;
}

.menu-active .dropdown-toggle {
    background-color: #fff;
    border-color: #cdd0d4;
}







