/* nav-site */
.nav-site {
    width: 100%;
    background-color: #f3f5f7;
}
.nav-site .container {
    height: 44px;
    line-height: 44px;
    border-bottom: 1px solid #cdd0d4;
}
.nav-site-login {
    margin-left: 15px;
    color: #f01414;
}
.nav-site-signup,
.nav-site-mobile {
    margin-left: 10px;
}
.nav-site-category {
    margin: 0 10px;
}
.nav-site-service {
    margin-right: 15px;
}

/* 下拉菜单样式dropdown */
/* .dropdown {
    position: relative;
}
.dropdown-toggle {
    display: block;
    height: 100%;
    padding: 0 16px 0 12px;
    border-left: 1px solid #f3f5f7;
    border-right: 1px solid #f3f5f7;
}
.dropdown-arrow {
    display: inline-block;
    width: 8px;
    height: 6px;
    background: url(../image/dropdown-arrow.png) no-repeat;
    margin-left: 8px;
    vertical-align: middle;
}
.dropdown-layer {
    display: none;
    position: absolute;
    top: 44px;
    background-color: #fff;
    border: 1px solid #cdd0d4;
}
.dropdown-left {
    left: 0;
    right: auto;
}
.dropdown-right {
    right: 0;
    left: auto;
}
.dropdown-item{
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    color: #4d555d;
    white-space: nowrap; /* 没有换行 
}
.dropdown-item:hover{
    background-color: #f3f5f7;
} */


/* js添加样式 active  */
/* 直接添加使用 hover */
/* .dropdown:hover .dropdown-toggle,
.dropdown-active .dropdown-toggle {
    background-color: #fff;
    border-color: #cdd0d4;
}

.dropdown:hover .dropdown-arrow,
.dropdown-active .dropdown-arrow {
    background-image: url(../image/dropdown-arrow-active.png);
}

.dropdown:hover .dropdown-layer,
.dropdown-active .dropdown-layer {
    display: block;
} */